#administration {
	header {
		position: absolute;
		top: 0;
		width: 100%;
		height: 300px;
		background: url('../imgs/admin-bg.png') repeat;

		> div {
			background: $light-black;

			.container {
				padding: 10px 0;

				.project-name {
					float: left;

					h1 {
						margin: 0;
						color: $white;
						text-transform: lowercase;
						font-weight: 300;
					}
				}

				.control-panel {
					float: right;
				}
			}
		}
	}

	main {
    position: relative;
		margin-top: 150px;
    padding: 20px 15px;
    background: $white;
    z-index: 99;

		> div[id*='admin-'] {
			width: 100%;
			margin-bottom: 1em;

			input {
				display: block;
				width: 100%;
				@include fontSize(16px, 1.6rem);

				&[data-db-key='header'] {
					background: transparent;
				}
			}

			.ui-edit {
				height: auto;
				padding: 6px 14px;
		    line-height: 120%;
				font-size: 13px;
				font-size: 1.3rem;
			}
		}
	}
}

#admin-news {
	.admin-news-item {
		position: relative;
		margin: 0;

		.collapsible-header {
			padding-top: 15px;
			padding-bottom: 15px;

			h3 {
				margin-bottom: 0;
				font-size: 15px;
				font-size: 1.5rem;
			}

			img {
				float: left;
    		margin-top: -8px;
		    margin-right: 15px;
		    height: 30px;
		    width: auto;
			}
		}

		.admin-news-edit {
			position: absolute;
			top: 11px;
	    right: 10px;

			button {
				padding: 4px;
				height: auto;
				color: $light-black;
		    line-height: 100%;
				box-shadow: none;
				background: none;

				i {
					font-size: 20px;
					font-size: 2rem;
				}
			}
		}
	}

	.admin-news-icon {
		width: 20px;
	}
}
