#admin-login {
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 200px);
	padding: 15px 25px;
	width: 400px;
	background: rgba(255, 255, 255, .8);
	
	h1 {
		text-transform: none;
	}

	input {
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}

	[type='submit'] {
		float: right;
	}
}